<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sobre</title>
</head>
<body>
    <h1>Minhas Redes Sociais</h1>
    <a href="https://www.facebook.com/racestari">
        <img src="/images/facebook.png" alt="facebook logo" width="25" height="25">
    </a>

    <a href="https://www.linkedin.com/in/ramon-de-souza-cestari-0a719316b/">
        <img src="/images/linkedin.png" alt="linkedinn logo" width="25" height="25">
    </a>

    <a href="http://instagram.com">
        <img src="/images/instagram.png" alt="instagram logo" width="25" height="25">
    </a>

    <a href="https://github.com/RamonCestari">
        <img src="/images/github.png" alt="github logo" width="25" height="25">
    </a>

    <h3>Essa página foi criada durante a UC12 da Turma TI Noturno do SENAC!</h3>


</body>
</html>